@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --neutral-900: hsl(243, 96%, 9%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-0: hsl(0, 0%, 100%);

  --orange-500: hsl(28, 100%, 52%);
  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);

  --font-primary: "DM Sans", sans-serif;
  --font-heading: "Bricolage Grotesque", sans-serif;

  --fw-light: 300;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-semibold-italic: 600;
  --fw-bold: 700;

  --fs-body: 1.125rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body {
  background-color: var(--neutral-900);
  color: var(--neutral-0);
  margin: 1.5rem 8rem;
  height: calc(100vh - 8rem);
}

.flex {
  display: flex;
}

.navbar {
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  width: 9.375rem;
}

#unit {
  background-color: var(--neutral-800);
  color: var(--neutral-0);
  border-radius: 0.25rem;
  appearance: none;
  padding: 0.5rem 2rem 0.5rem 2.5rem;
  background-image: url(../assets/images/icon-units.svg),
    url(../assets/images/icon-dropdown.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 0.625rem center, calc(100% - 0.625rem) center;
  font-size: 0.75rem;
  background-size: 0.75rem, 0.625rem;
}

.upper-header .text h1 {
  text-align: center;
  margin: 2.5rem 0;
  font-family: var(--font-heading);
  font-size: 2.25rem;
}

.search-bar {
  justify-content: center;
  margin-bottom: 2rem;
}

#place {
  background-color: var(--neutral-800);
  color: var(--neutral-0);
  width: 21.875rem;
  height: 2.25rem;
  font-size: 0.9375rem;
  padding: 0 1rem 0 2.5rem;
  margin: 0 0.625rem;
  border-radius: 0.375rem;
  border: none;
  font-weight: var(--fw-bold);
  background-image: url(../assets/images/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 0.75rem center;
  background-size: 1rem;
}

#place:focus {
  outline: none;
}

.input-container {
  flex-direction: column;
  position: relative;
}

.lists {
  display: none;
  z-index: 100;
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(100% - 1.125rem);
  text-align: center;
  background-color: var(--neutral-800);
  margin: 0.625rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.3);
}

.lists li {
  list-style: none;
  padding: 0.625rem;
  margin: 0.3125rem;
}

.lists li:hover {
  cursor: pointer;
  background-color: var(--neutral-700);
  border-radius: 0.375rem;
}

.btn {
  padding: 0.5rem;
  width: 5rem;
  height: 2.25rem;
  font-size: 0.875rem;
  background-color: var(--blue-500);
  color: var(--neutral-0);
  border: none;
  border-radius: 0.5rem;
  font-weight: var(--fw-semibold);
}

.btn:hover {
  cursor: pointer;
}

.main-section {
  justify-content: space-around;
  align-items: stretch;
}

.weather-info {
  width: 40.625rem;
}

.today-weather {
  flex-direction: column;
}

.actual-info {
  background-image: url(../assets/images/bg-today-large.svg);
  height: 12.5rem;
  width: 100%;
  background-repeat: no-repeat;
  border-radius: 1.25rem;
}

.sub-info {
  width: 100%;
  gap: 1.25rem;
}

.box {
  width: 100%;
  margin: 1.25rem 0;
  border: 0.125rem solid var(--neutral-600);
  border-radius: 0.9375rem;
  height: 5rem;
  background-color: var(--neutral-700);
}

.daily-forecast {
  flex-direction: column;
}

.daily-forecast h4 {
  font-size: 1rem;
  font-weight: var(--fw-medium);
  margin: 0.8rem 0.2rem;
}

.days {
  width: 100%;
  gap: 0.9375rem;
}

.day {
  width: 100%;
  height: 6.25rem;
  background-color: var(--neutral-700);
  border: 0.125rem solid var(--neutral-600);
  border-radius: 0.9375rem;
}

.hourly-forecast {
  background-color: var(--neutral-800);
  width: 17.1875rem;
  padding: 1.2rem 1rem;
  border-radius: 0.9375rem;
}

.mini-dropdown {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.625rem;
}

.mini-dropdown h4 {
  font-weight: var(--fw-medium);
  font-size: 0.9375rem;
}

#day {
  background-color: var(--neutral-800);
  color: var(--neutral-0);
  border-radius: 0.25rem;
  appearance: none;
  padding: 0.3rem 0.6rem 0.3rem 0.3rem;
  background-image: url(../assets/images/icon-dropdown.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 0.625rem) center;
  font-size: 0.875rem;
  background-size: 0.625rem;
}

.hours {
  flex-direction: column;
  gap: 0.625rem;
}

.hour {
  background-color: var(--neutral-700);
  border: 0.125rem solid var(--neutral-600);
  width: 100%;
  height: 2.5rem;
  padding: 0.125rem;
  border-radius: 0.5rem;
}

@media (max-width: 1250px) {
  body {
    margin: 1.5rem 4rem;
  }

  .weather-info {
    width: 36rem;
  }

  .hourly-forecast {
    width: 16rem;
  }
}

@media (max-width: 992px) {
  body {
    margin: 1.5rem 2rem;
    height: calc(100vh - 6rem);
  }

  .main-section {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .weather-info,
  .hourly-forecast {
    width: 100%;
    max-width: 40rem;
  }

  .actual-info {
    margin-bottom: 0.5rem;
  }

  .hourly-forecast {
    padding: 1.5rem;
  }

  .sub-info {
    margin-top: 0.5rem;
    gap: 0.75rem;
    flex-wrap: wrap;
  }

  .box {
    height: 6rem;
    margin: 0;
    width: calc(50% - 0.5rem);
  }

  .days {
    flex-wrap: wrap;
  }

  .day {
    width: 7.25rem;
    height: 10rem;
  }

  .hours {
    gap: 0.75rem;
  }

  .hour {
    height: 3.5rem;
  }
}

@media (max-width: 768px) {
  .upper-header .text h1 {
    font-size: 2rem;
    margin: 2rem;
  }

  .input-container {
    width: 100%;
  }

  #place {
    width: 100%;
    height: 2.5rem;
    margin: auto;
    max-width: 40rem;
  }

  .search-bar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
  }

  .btn {
    width: 100%;
    height: 2.5rem;
    max-width: 40rem;
  }

  .main-section {
    max-width: 40rem;
    margin: auto;
  }
}

@media (max-width: 480px) {
  body {
    margin: 1rem;
    height: calc(100vh - 4rem);
  }

  .upper-header .text h1 {
    font-size: 2.5rem;
  }

  #place {
    font-size: 0.875rem;
    padding: 0 0.75rem 0 2.25rem;
  }

  .actual-info {
    height: 10rem;
    background-size: cover;
  }

  .hour {
    height: 3rem;
  }

  .mini-dropdown h4 {
    font-size: 0.875rem;
  }

  .days {
    gap: 0.5rem;
  }

  #day {
    font-size: 0.75rem;
    padding: 0.4rem;
  }
}

@media (max-width: 415px) {
  .days {
    flex-direction: column;
  }

  .day {
    width: 100%;
    height: 5rem;
  }

  .navbar img {
    width: 7.5rem;
  }

  #unit {
    width: 6rem;
  }
}
