@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --neutral-900: hsl(243, 96%, 9%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-0:   hsl(0, 0%, 100%);

  --orange-500: hsl(28, 100%, 52%);
  --blue-500:   hsl(233, 67%, 56%);
  --blue-700:   hsl(248, 70%, 36%);

  --font-primary: 'DM Sans', sans-serif;
  --font-heading: 'Bricolage Grotesque', sans-serif;

  --fw-light: 300;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-semibold-italic: 600;
  --fw-bold: 700;

  --fs-body: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

body {
    background-color: var(--neutral-900);
    color: var(--neutral-0);
}

.flex {
    display: flex;
} 

header .navbar {
    justify-content: space-between;
    align-items: center;
    margin: 1.5em 4em;
}

header .navbar img {
    width: 150px;
}

header .navbar #unit {
    background-color: var(--neutral-800);
    color: var(--neutral-0);
    border-radius: 4px;
    appearance: none;
    padding: 0.5em 2em 0.5em 2.5em;
    background-image: url(../assets/images/icon-units.svg), url(../assets/images/icon-dropdown.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 10px center, calc(100% - 10px) center;
    font-size: 12px;
    background-size: 12px, 10px;
}

.upper-header .text h1 {
    text-align: center;
    margin: 1.2em 0 1em 0;
    font-family: var(--font-heading);
    font-size: 36px;
}

.upper-header .search-bar {
    justify-content: center;
    margin-bottom: 2em;
}

.upper-header .search-bar #place{
    background-color: var(--neutral-800);
    color: var(--neutral-0);
    width: 300px;
    height: 36px;
    font-size: 15px;
    padding: 8px;
    margin: 0 10px;
    border-radius: 6px;
    border: none;
    font-weight: var(--fw-bold);
    background-image: url(../assets/images/icon-search.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 16px;
}

.upper-header .search-bar .btn {
    padding: 8px;
    width: 80px;
    font-size: 14px;
    background-color: var(--blue-500);
    color: var(--neutral-0);
    border: none;
    border-radius: 8px;
    font-weight: var(--fw-semibold);
}

.btn:hover {
    cursor: pointer;
}